body{
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
background: #4a4346;
background: radial-gradient(circle, rgba(74, 67, 70, 1) 0%, rgba(184, 163, 116, 1) 100%);
}
header h1{
  text-align:left;
  font-size:2.2rem;
  font-style: italic;
  font-family: 'helvetica neue', helvetica, arial, serif;
  margin:0;
  padding:10px 0;
  color:#A0C3D9;
}
header h2{
  text-align:left;
  font-size:1.2rem;
  font-style: italic;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  margin:0;
  padding-left: 9%;
  color:#A0C3D9;
}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  gap: 10px;
  margin:20px 0 5px 0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul a{
  color:#A0C3D9;
  padding:5px 7.5px;
  border-radius:20px;
  text-decoration:none;
  background:transparent;
  background-color:transparent;
  font-size:.9rem;
  transition:.4s;
}

header.primary nav a:hover{
  background-color:rgba(143, 102, 102, 0.8);
}
header.primary{
  text-align: left;
  padding:10px;
  background-color:#590202;
  position:relative;
  color:#A0C3D9;
}
h1{ 
  text-align:left;
  font-size:1.2rem;
  font-style: italic;
 font-family: Georgia, 'Times New Roman', Times, serif;
  margin:10px;
  padding:10px 0;
  color:#1c1f21;
}
h2{ 
  text-align:left;
  font-size:1.2rem;
  font-style: italic;
 font-family: Georgia, 'Times New Roman', Times, serif;
  margin:12px;
  padding:10px 0;
  color:#1c1f21;
}
dl{ 
  text-align:left;
  font-size:1.2rem;
  font-style: italic;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  margin:0;
  padding:10px 0;
  color: #000;;
}
dt{
  font-size:1rem;
  color:#000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
dd{
  font-size:1rem;
  color:#000;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  margin:0 0 15px 20px;
  padding:0;
}
section#articles {
  background: #181c1f;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #33536b;
  text-align: center;
  font-family: "Goldman", cursive;
  font-size: 2em;
}

section#articles h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #F28D52;
  text-decoration:none;
  text-shadow:1px 1px #000;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
