@keyframes reveal{
    from{
        transform:scale(0);
        opacity: 0;
}
    to{
        transform:scale(1);
        opacity: 1;
    }
}

h2{
    padding: 24px;
    font-size: 2rem;
    text-align: center;
}