 main>* {
      font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
        sans-serif;
      font-weight: normal;
      background-color: #c0c0c0;
      border-radius: 10px;
      padding: 20px;
    }

    main {
      display: grid;
      gap: 20px;
      max-width: 80vw;
      margin: 20px auto;
      grid-template-columns: auto auto;
    }
header.primary{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#content{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#blog{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
aside{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
footer.primary{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}    

