 .container{
    width: 80vw;
    max-width:960px;
    margin: 20px auto;
 }
header h1{
  text-align:left;
  font-size:2.2rem;
  font-style: italic;
  font-family: 'helvetica neue', helvetica, arial, serif;
  margin:0;
  padding:10px 0;
  color:#88a6b9;
}
header h2{
  text-align:left;
  font-size:1.2rem;
  font-style: italic;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  margin:0;
  padding-left: 9%;
  color:#88a6b9;
}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  gap: 10px;
  margin:20px 0 5px 0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul a{
  color:#88a6b9;
  padding:5px 7.5px;
  border-radius:20px;
  text-decoration:none;
  background:transparent;
  background-color:transparent;
  font-size:.9rem;
  transition:.4s;
}

header.primary nav a:hover{
  background-color:rgba(143, 102, 102, 0.8);
}
header.primary{
  text-align: left;
  padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px; 
  background-image: url(../img/nasa2.jpg) ;
  position:relative;
  color:#88a6b9;
  padding: 40px;  
}
.background-image {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
  border-radius: 10px;
}
body{
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
background: #4a4346;
background: radial-gradient(circle, rgba(74, 67, 70, 1) 0%, rgba(184, 163, 116, 1) 100%);

}
  main{
  display:grid;
   grid-template-areas:
    "content Blog"
    "content1 Blog1"
    "aside aside"
    "logo"
    "footer footer";
    grid-template-columns: 1fr 1fr;
  gap:20px;
  max-width:1200px;
  margin:20px auto;
  padding:20px;
}


footer{
  text-align:left;
  padding:10px;
  background-color:#590202;
  position: relative;
  color:#A0C3D9;
  bottom: 0;
  width:100%;
  grid-area: footer;
  
}



















@media screen and (max-width: 540px){

  header.primary nav ul{
  flex-direction:column;
  gap:10px;  
}
header.primary  nav ul a{
  display:block
}
  
#content{
  flex-direction:column;
}  
  
  
 .container{
  background-color:transparent;
  width:100%;
  margin:20px auto;
}
  
  
}

